<!DOCTYPE html>
<html>
<head>
    <title>Upload Excel File</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-upload-html.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Excel File</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload" class="btn btn-primary btn-upload">
        </form>
        <div class="archive-button">
            <form method="GET" action="/archive">
                <button type="submit" class="btn btn-primary btn-archive">არქივი</button>
            </form>
        </div>
          <div class="success-button">
            <form method="GET" action="/success">
                <button type="submit" class="btn btn-primary btn-archive">არ მისული სმს</button>
            </form>
        </div>
    </div>
</body>
</html>

